head
  meta(charset="UTF-8")
  meta(name='viewport' content='minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover')
  meta(name='keywords' content='Interior Design, Home Renovation, Condo Design, HDB Renovation, Tailor-Made Interiors, Innovative Design Solutions, Residential Styling, Custom Furniture Design, Space Transformation, Creative Interior Solutions')
  meta(name='description' content='Elevate your space with Dvins ConceptZion. From homes and flats to condos, we offer personalized solutions. Transform your living areas with our innovative and unique designs. Get in touch for a quote today.')
  meta(name='application-name' content='dvins-conceptzion')
  title Dvins ConceptZion
  link(rel='author' href='https://arpitpatidar.com')
  meta(name='author' content='Arpit Patidar')
  meta(name='robots' content='index, follow, max-image-preview:large')
  link(rel='canonical' href=app_url)
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-title' content='dvins-conceptzion')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

  // socials
  meta(property='og:title' content='Dvins ConceptZion')
  meta(property='og:description' content='Elevate your space with Dvins ConceptZion. From homes and flats to condos, we offer personalized solutions. Transform your living areas with our innovative and unique designs. Get in touch for a quote today.')
  meta(property='og:type' content='website')
  meta(property='og:image' content='./assets/images/common/og-image.svg')
  meta(property='og:url' content=app_url)
  meta(property='og:site_name' content='dvins_conceptzion')
  meta(property='og:locale' content='EN_SG')
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:title' content='Elevate your space with Dvins ConceptZion.')
  meta(property='twitter:description' content='From homes and flats to condos, we offer personalized solutions. Transform your living areas with our innovative and unique designs. Get in touch for a quote today.')

  // styles
  link(rel='stylesheet' href='./assets/vendors/liquid-icon/lqd-essentials/lqd-essentials.min.css')
  link(rel='stylesheet' href='./assets/css/theme.min.css')
  link(rel='stylesheet' href='./assets/css/utility.min.css')
  link(rel='stylesheet' href='./assets/css/main.css')

  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Playfair+Display&family=IBM+Plex+Sans:wght@500;600;700&family=Space+Grotesk:wght@400;700&display=swap')
